.title-style {
    color: white;
    justify-content: center !important;
}

#response-container {
    background-color: rgb(84, 159, 230);
    border: transparent;
    color: white;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-control {
    background-color: gray;
}

.current-weather {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid grey;
    width: 500px; 
    margin-left: 15px;
    line-height: 2;
}

.card {
    display: inline-block;
    line-height: 2.5;
    padding: 10px;
}

#searchTerm {
    width: 100%;
}

.futureDate {
    font-weight: bold;
    font-size: large;
}

#city-search {
    border-bottom: 1px solid;
}