.title-style {
    color: white;
    justify-content: center !important;
}

#response-container {
    background-color: rgb(84, 159, 230);
    border: transparent;
    color: white;
    width: 100%;
    margin-top: 10px;
    display: justify; /* EXPAND THE WIDTH OF SEARCH BOX */
    /*HOW TO CREATE A BIT OF SPACE B/W SEARCH BOX AND SEARCH BUTTON */
}

.form-control {
    background-color: gray;
}

.current-weather {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid grey;
    width: 500px; 
    margin-left: 15px;
}

.card {
    display: inline-block;
}

#searchTerm {
    width: 100%;
}